@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.footer {
    background-color: #000627;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 100%;
}

.kepo {
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.findUs {
    text-align: right;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon img {
    margin-left: 15px;
}