.myCarousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 530px;
}

.mySlide {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 1s ease;
    overflow: hidden;
}

/* .mySlide.mySlide-hidden {
    display: none;
} */

.mySlideActive {
    opacity: 1;
    transition-duration: 1s;
    transform: translateX(100);
}

.arrow {
    position: absolute;
    width: 4rem;
    height: 4rem;
    color: rgba(255, 255, 255, 0.483);
    z-index: 2;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}