@import url('https://fonts.cdnfonts.com/css/fredoka-one');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.slideptn {
    margin-top: 100px;
}

.titlePtn {
    font-family: 'Fredoka One', sans-serif;
    font-size: 50px;
    color: #ffff;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.fotoWrapper {
    position: relative;
    width: 100%;
    /* Updated to full width for responsiveness */
    height: auto;
    /* Updated for responsiveness */
    max-width: 350px;
    /* Added for responsiveness */
    margin: 0 auto;
    /* Center the images */
}

.fotoPtn {
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}

.imageText {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.fotoWrapper:hover .fotoPtn {
    filter: brightness(70%);
}

.fotoWrapper:hover .imageText {
    opacity: 1;
}

@media (max-width: 768px) {
    .slideptn {
        background-color: #79a8d88b;
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .titlePtn {
        font-size: 30px;
        background: linear-gradient(to bottom, #FFFFFF 25%, #56AADA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .fotoPtn {
        width: 100%;
        height: auto;
        transition: filter 0.3s;
    }

    .imageText {
        font-size: 20px;
    }
}