@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/fredoka-one');

.footer {
    background-color: #000627;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 100%;
}

.kepo {
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.findUs {
    text-align: right;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon img {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .footer {
        background: none;
    }

    .taglineFooter {
        font-family: 'Fredoka One', sans-serif;
        font-weight: 900;
        font-size: 20px;
        background: linear-gradient(to bottom, #FFFFFF 25%, #56AADA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: 10px;
    }

    .kepo {
        text-align: center;
        font-size: 8px;
    }

    .findUs {
        text-align: center;
        font-size: 10px;
    }

    .icon img {
        margin-left: 5px;
    }

    .icon {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .socialText {
        margin-left: 5px;
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
}